---
openapi: 3.0.1
info:
  title: SimpleAnalytics ServerSide API
  description: This is the OpenAPI specification for the Simple Analytics tracking API. See https://docs.simpleanalytics.com/events/server-side#page-views
  contact:
    name: SimpleAnalytics
    email: support@wecity.nl
  version: 1.0.0
servers:
- url: https://queue.simpleanalyticscdn.com
paths:
  /events:
    post:
      summary: Track an event
      operationId: event
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Event'
      responses:
        '201':
          description: Created
        '400':
          description: Bad request. User ID must be an integer and larger than 0.
        '401':
          description: Authorization information is missing or invalid.
        '404':
          description: A user with the specified ID was not found.
        '429':
          description: Too many requests
        '5XX':
          description: Unexpected error.
components:
    schemas:
      Event:
        type: object
        required:
          - type
          - hostname
          - event
        properties:
          type:
            type: string
            enum:
              - event
              - pageview
            description: The type of event to track. This can be either event or pageview.
          hostname:
            type: string
            description: "The hostname as set in SimpleAnalytics. Just the domainname, so no https or www. For example: 'mobile.testapp.com'"
            example: "testapp.com"
          event:
            type: string
            description: "The name of the event. Or use 'pageview' to track a pageview"
            example: "login"
          ua:
            type: string
            description: The user agent
          path:
            type: string
            description: "The page path, should start with '/'"
            example: "/listDetailView"
          language:
            type: string
            description: "The language code of the user. This is used to detect the users country. For example: 'en-US'"
            example: "en-US"
          timezone:
            type: string
            description: The time zone of the current user so we can detect the country
            example: "Europe/Amsterdam"
          viewport_width:
            type: integer
            description: "The current width of the viewport"
          viewport_height:
            type: integer
            description: "The current height of the viewport"
          screen_width:
              type: integer
              description: "The width of the screen"
          screen_height:
              type: integer
              description: "The height of the screen"
          unique:
              type: boolean
              description: "This tells us if this visit is unique. Don’t send this field if you don’t detect unique page views"
          metadata:
              type: object
              description: "Metadata is a simple key/value object. We don’t allow nesting, functions, objects, arrays, and falsy values (except for booleans)."
              additionalProperties:
                anyOf:
                  - type: string
                  - type: boolean
                  - type: number
                  - type: string
                    format: date-time
              example:
                filename: document.pdf
                darkmode: true
                product_id: 3340
                created_at: 2023-10-06T06:30:17.123Z
